@import url(../../css/common.css);



header {    
    width: 100%;
    
    padding: 30px;    
    background-color: #040404;
    position: fixed;
    
}

header img {
    width:35px;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

header > nav > a {
    color: #fff;
}