@import url(./rezer_common.css);


header > nav > a:nth-of-type(4) {
    color:#fff;
}

main{
    width: 100%;
    background-color: #000;
}



.mobile_navbar {
    padding-top: 100px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #44D62C;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* .mobile_navbar > div {
    
} */

.mobile_navbar ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
    
}

/* +++++++++++++++++++++ 애니메이션 +++++++++++++++++++++++++++ */

.mobile_navbar ul{
    animation-duration: 1s;
    animation-name: slidein;
    
}

@keyframes slidein{
    0%{margin-left: 20%; opacity: 0%;}
    100%{margin-left: 0%; opacity: 100%;}
}

/* +++++++++++++++++++++ 애니메이션 +++++++++++++++++++++++++++ */

.icon_container{
    text-align: center;
    margin: 0 25px;
}

.icon_container > div:nth-of-type(2) {
    color: #F5B21D;
    font-size: 12px;
    text-align: center;
}

.icon_label{
    font-size: 12px;
    font-family: 'Roboto',sans-serif;;
    color: #ffffff;
    margin-bottom:4px;
    margin-top: 5px;
}

.mobile_navbar li:hover .icon_label{
    color: #F5B21D;
}




.icon_container{
    display: block;
    
}

/* === moblie icon new on/off === */
/* === moblie icon new on/off === */
/* === moblie icon new on/off === */


#cotroller> div:nth-of-type(2){
    visibility: visible;
}
#headphones> div:nth-of-type(2){
    visibility: hidden;
}
#earbuds> div:nth-of-type(2){
    visibility: hidden;
}
#DAC> div:nth-of-type(2){
    visibility: hidden;
}
#glasses> div:nth-of-type(2){
    visibility: hidden;
}
#case> div:nth-of-type(2){
    visibility: hidden;
}
#cortex> div:nth-of-type(2){
    visibility: hidden;
}
#android> div:nth-of-type(2){
    visibility: hidden;
}
 
#iOS > div:nth-of-type(2){
    visibility: hidden;
}

/* === moblie icon new on/off === */
/* === moblie icon new on/off === */
/* === moblie icon new on/off === */



/* ==========================================================================
======================= .mobile_navbar 767 px ============================
========================================================================== */

@media (max-width:767px){
    .mobile_navbar {
        padding-top: 100px;
        background-color: #1a1a1a;
        border-bottom: 1px solid #44D62C;
        max-width: 1920px;
        margin: 0 auto;
        padding-bottom: 20px;
        overflow-X: scroll;
    }
    
    /* .mobile_navbar > div {
        
    } */
    
    .mobile_navbar ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        white-space: nowrap;
        
        
        
    }
    
    /* +++++++++++++++++++++ 애니메이션 +++++++++++++++++++++++++++ */
    
    .mobile_navbar ul{
        animation-duration: 1s;
        animation-name: slidein;
        

    }
    
    @keyframes slidein{
        0%{margin-left: 20%; opacity: 0%;}
        100%{margin-left: 0%; opacity: 100%;}
    }
    
    /* +++++++++++++++++++++ 애니메이션 +++++++++++++++++++++++++++ */

    .icon_container{
        text-align: center;
        margin: 0 25px;
    }
    
    .icon_container > div:nth-of-type(2) {
        color: #F5B21D;
        font-size: 12px;
        text-align: center;
    }
    
    .icon_label{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        margin-bottom:4px;
        margin-top: 5px;
    }
    
    .mobile_navbar li:hover .icon_label{
        color: #F5B21D;
    }
    
    
    
    
    .icon_container{
        display: block;
        
    }
    
    /* === moblie icon new on/off === */
    /* === moblie icon new on/off === */
    /* === moblie icon new on/off === */
    
    
    #cotroller> div:nth-of-type(2){
        visibility: visible;
    }
    #headphones> div:nth-of-type(2){
        visibility: hidden;
    }
    #earbuds> div:nth-of-type(2){
        visibility: hidden;
    }
    #DAC> div:nth-of-type(2){
        visibility: hidden;
    }
    #glasses> div:nth-of-type(2){
        visibility: hidden;
    }
    #case> div:nth-of-type(2){
        visibility: hidden;
    }
    #cortex> div:nth-of-type(2){
        visibility: hidden;
    }
    #android> div:nth-of-type(2){
        visibility: hidden;
    }
     
    #iOS > div:nth-of-type(2){
        visibility: hidden;
    }
    
    /* === moblie icon new on/off === */
    /* === moblie icon new on/off === */
    /* === moblie icon new on/off === */
}







.intro_tag{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1a1a1a;    
}

.intro_tag > div {
    background-color: #111;
    padding: 3rem 0;
}

.intro_tag > div > div {
    display: grid;
    grid-template-areas:
        "first"
        "second"
        "third"
        "forth";
    max-width: 980px;
    text-align: center;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 0 auto;
}

.intro_tag h1 {
    margin: 0;
    color: #44d62c;
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.intro_tag p {
    color: #888;
    max-width: 100%;
    margin: 0 auto;
}







.console_item {
    max-width: 1920px;
    margin: 0 auto;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    height: 700px;
    max-height: 700px;
    border-bottom: 1px solid #44D62C;
    background-color:#000;
    text-align: center;
    padding: 0;
    background-repeat: no-repeat;
}

.console_item h2{
    font-family: "RazerF5",Arial,Helvetica,sans-serif;
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: 0.0625rem;
    line-height: 1.875rem;
    margin: 0;
    font-weight: 300;
    padding: 4.0625rem 0 0;
    color: #ffffff;
}

.console_item p {
    max-width: 950px;
    padding: 0.4375rem 1rem 1.25rem;
    margin: 0 auto;
    color: #999;
    font-size: 1.125rem;
    font-weight: 300;
    
}

.console_item a {
    font-size: 1rem;
    font-weight: 300;
    color: #44D62C;
}

.back4{
    background-image: url('../img/mobilemenu_img/razer-kishi-v2-for-iphone-1920x700-desktop.jpg');
}

.back5{
    background-image: url('../img/mobilemenu_img/razer-kishi-v2-android-1920x700-desktop.jpg');
}

.back6{
    background-image: url('../img/mobilemenu_img/stay-in-sync-1920x700.jpg');
}

.back7{
    background-image: url('../img/mobilemenu_img/gothe-extramile-category-1920x700-desktop.jpg');
}

@media (max-width:767px){

    .back4{
        background-image: url('../img/mobilemenu_img/500x500_kishi-v2-for-iphone.jpg');
        height: 500px;
    }
    
    .back5{
        background-image: url('../img/mobilemenu_img/500x500_kishi-v2-for-android.jpg');
        height: 500px;
    }
    
    .back6{
        background-image: url('../img/mobilemenu_img/stay-in-sync450x480.jpg');
    }
    
    .back7{
        background-image: url('../img/mobilemenu_img/gotheextramile-category-450x480-mobile.jpg');
    }
}









.multipanel {
    box-sizing: border-box;
    
    background-color: #252525;
    padding: 25px 0;
    margin: 0;
    max-width: 1920px;
    margin: 0 auto;
}

.multipanel > ul {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    
    
}

.multipanel li {
    width: 100%;
    margin: 0 10px;
    
}



.multipanel img {width: 100%;}


.multipanel > ul > li > figure > figcaption {
    
    display: grid;
    grid-template-rows: auto 0.5fr 2fr 45px;
    height: 220px;

    background-color: #111111;
    border-bottom: 1px solid #44d62c;
    line-height: 1.5em;
    
}



.multipanel h3 {
    color: #fff;
    
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.multipanel p {
    text-align: left;
    font-size: .875rem;
    font-weight: 300;
    color: #999;
    padding: 0 10px;
}

.multipanel a {
    color: #44d62c;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}


/* ====================================================================================================
=========================================multipanel 반응형 START============================================
==================================================================================================== */

@media (max-width:767px) {

    .multipanel {
        box-sizing: border-box;
        width: 100%;
        background-color: #252525;
        padding: 25px 0;
        margin: 0;
    }
    
    .multipanel > ul {
        
        display: block;
    
        margin: 0 auto;
        
        
        
    }
    
    .multipanel li {
        width: 90%;
        margin-bottom: 2%;
        margin: 0 auto;
        
    }
    
    .multipanel img {width: 100%;}
    
    
    .multipanel > ul > li > figure > figcaption {
        width: 100%;
        display: grid;
        grid-template-rows: auto 0.5fr 2fr 45px;
        height: 200px;
    
        background-color: #111111;
        border-bottom: 1px solid #44d62c;
        line-height: 1.5em;
        margin-bottom: 4%;
    }
    
    
    
    .multipanel h3 {
        color: #fff;
        
        margin: 0;
        padding: 10px;
        text-align: left;
        width: 100%;
    }
    
    .multipanel p {
        color: #888;
        font-size: 14px;
        margin: 0;
        padding: 10px;
        text-align: left;
        width: 100%;
    }
    
    .multipanel a {
        color: #44d62c;
        display: inline-block;
        font-size: 14px;
        margin: 0;
        padding: 10px;
        text-align: left;
        width: 100%;
    }
    #nothing {
        display: none;
    }



    /* last_mobilepanel display:none; max-width: 767px */

    .last_mobilepanel li:nth-of-type(3){
        display: none;
    }
}






/* ====================================================================================================
=========================================multipanel 반응형 END============================================
==================================================================================================== */



.last_mobilepanel li:nth-of-type(3){
    visibility: hidden;
}